.mymodal{
	display:none;
	position: fixed;
	z-index:11;
	padding-top:100px;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,.4);
}

.modalcontent{
	background-color: #fefefe;
    width: 85%;
    padding: 2%;
    border: 1px solid #888;
    height: 60vh;
    display: block;
    position: relative;
}

.close{
	color:#aaaaaa;
	float:right;
	font-size: 28px;
	font-weight: bold;
	position:relative;
	top:-22px;
	right:-10px;
}


.close:hover, .close:focus{
	color: #000;
	text-decoration: none;
	cursor:pointer;
}

.textphoto{
	float:right;
	width:38%;
	height: inherit;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 1%;
}

.infosmodal{
	width:100%;
	height:32%;
	padding:1%;
}

.commmodal{
	background-color: #FDE4CF;
	margin-left:1%;
	padding : 2%;
	border-radius: 10px;

}

.photocontent{
	width:60%;
	float:left;
}

table{
}

tr{
	height:18%;
}

td, th {
	border-radius: 10px;
    border: 1px solid #E79A7D;
	background-color: #FAF9F5;
    text-align: left;
    padding: 8px;
}

.pagination{
    padding: 1%;
}

.displaycommtabl{
	width:100%;
	height:auto;
	overflow:auto;
	max-height:30%;
}

#post_dateid{
	float:right;
	font-size:0.8em;
	color:#ababab;
}

#post_textareaid{
	float:right;
	width:70%;
	margin:0;
}

[id*=comm_textarea-]{
	margin:0;
	padding:5%;
	width:100%;
	height:18%;
	resize: none;
	border-radius: 10px;
	border-color: #E79A7D

}

@media only screen and (max-width: 768px){
	.textphoto{
		height: 45%;
		position: absolute;
		display: block;
		bottom: 0;
		width: 100%;
		height: 63%;
	}
	.photocontent{
		position: absolute;
		width: 100%;
		height: 35%;
	}
	.commmodal{
		margin-left: 2%;
		width:85%;
		position: absolute;
		height:40%;
		bottom: 10px;

	}
	.modalcontent{
	width:85%;
	height:75%;
	}
	.likbut{
		margin-left: 1%;
	}
	.commbut{
		margin:0;
	}
	.displaycommtabl{
		max-height: 58%;
	}

	#post_dateid{
		margin-right:8%;
	}
	#post_textareaid{
		width: 75%;
	    float: none;
	    height: auto;
	    max-height: 120%;
	    overflow: auto;
	}
	[id*=comm_textarea-]{
		height:40%;
		padding:4%;
		width:80%;
	}
	#comm_subbutton{
		top:-58px;
	}
}
